<a href="https://colab.research.google.com/github/Vithun-007/Python-Lab/blob/main/lab%208.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

LAB ACTIVITY 8



G S VITHUN

22MID0099


```
# This is formatted as code
```

Lambda function

In [ ]:
# create function using def keyword
def double(x):
    return x*2
double(10)  # function call

20

In [ ]:
# create fuction using lambda
x = lambda x:x*2
x(50)   # function call

100

In [ ]:
# create function using def keyword
def add(x,y):
    return x+y
add(25, 25)  # function call

50

In [ ]:
# create fuction using lambda
x = lambda x,y:x+y
x(18,12) # function call

30

In [ ]:
# create function using def keyword
def max(x,y):
    if x>y:
        return x
    else:
        return y
max(10,15) # function call

15

In [ ]:
# create fuction using lambda
x = lambda x,y:x if x>y else y
x(7, 18) # function call

18

Iterables

In [ ]:
num = [1,2,3,4,5]  # List is iterable
for i in num:
    print(i)

1
2
3
4
5

In [ ]:
num1 = (1,2,3,4,5)  # tuple is iterable
for i in num1:
    print(i)

1
2
3
4
5

In [1]:
dict1 = {"name":"Vithun","Reg No":"22MID0099"} # Dicitonary is iterable
for i in dict1.items():
    print(i)

('name', 'Vithun')
('Reg No', '22MID0099')

In [2]:
name = "vithun"   # String is iterable
for i in name:
    print(i)

v
i
t
h
u
n

In [ ]:
my_bytes = b"hello"  # Byte is iterable
print("Iterating over a bytes object:")
for i in my_bytes:
    print(i)

Iterating over a bytes object:
104
101
108
108
111

Non - Iterable

In [ ]:
n = 1234567
str1 = str(n)  # Using conversion interger becomes iterable
for i in str1:
    print(i)

1
2
3
4
5
6
7

In [ ]:
n = 1234567
add = 0
while n != 0:
    digit = n % 10       # Without using conversion integer becomes iterable
    print(digit)
    n //= 10

7
6
5
4
3
2
1

In [ ]:
n = 1234567
digits = [int(d) for d in str(n)]   # List Comprehension
print(digits)

[1, 2, 3, 4, 5, 6, 7]

dir() function returns a list of all the attributes and methods of an object.

In [ ]:
num = [1,2,3,4,5] # original list
print(dir(num))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

abstract based classes(abc)

In [ ]:
names = ["Ema","Tom","Hinton"] # original list
looper = names.__iter__()     # This line correctly creates an iterator object from your list
print(looper)
print(type(names))
print(type(looper))

<list_iterator object at 0x7933e40e2d70>
<class 'list'>
<class 'list_iterator'>

In [ ]:
looper = iter(names)   # same as "looper = names.__iter__()"
print(looper)
print(type(looper))

<list_iterator object at 0x7933e40e39d0>
<class 'list_iterator'>

In [ ]:
looper = iter(names)
print(next(looper))
print(next(looper))
print(next(looper))
print(next(looper))    # Error: Since no more iterable element available (Throws Exception: StopIteration)

Ema
Tom
Hinton

StopIteration:

In [ ]:
# Iterating the list using iter() and accesing next element by next()
names = ["Ema","Tom","Hinton"] # original list
looper = iter(names)
while True:
    try:
        name = next(looper)
        print(name)
    except StopIteration:
        break

Ema
Tom
Hinton

Map function

In [ ]:
def square(x):
    return x*x
numbers = [1,2,3,4,5]
print(map(square,numbers))   # creates a map object

<map object at 0x7933e40e1060>

In [ ]:
def square(x):
    return x*x
numbers = [1,2,3,4,5]
print(list(map(square,numbers)))  # create a list using map

[1, 4, 9, 16, 25]

In [ ]:
def square(x):
    return x*x
numbers = [1,2,3,4,5]

for num in map(square, numbers):
    print(num)                    # printing the squared numbers

1
4
9
16
25

In [ ]:
numbers = [1,2,3,4,5]
print(list(map(lambda x:x*x,numbers)))  # using lambda function

[1, 4, 9, 16, 25]

In [ ]:
numbers = [1,2,3,4,5]
print(list(filter(lambda x:x>3,numbers)))  # filters the elements that satisfies the condition

[4, 5]

In [ ]:
# Get a String and convert it into lower case using function
def lower_case(str1):
    return str1.lower()
str1 = input("Enter the string: ")
lower_case(str1)

Enter the string: Hello

'hello'

In [ ]:
# Take a list of names, convert it to upper case and using map and lambda function convert it to lower case
names = ["Ema","Tom","Hinton"] # original list
for i in names:
    i.upper()
print(names)
print(list(map(lambda x:x.lower(),names)))

['Ema', 'Tom', 'Hinton']
['ema', 'tom', 'hinton']

Reduce function

In [ ]:
from functools import reduce
numbers = [1,2,3,4,5]
print(reduce(lambda x,y:x+y,numbers))   #The reduce() function applies a function of two arguments cumulatively to the items of a sequence, from left to right, to reduce the sequence to a single value.

15

In [ ]:
from functools import reduce

# A list of tokens (words) that form an inspirational quote
tokens = ['Don’t', 'watch','the', 'clock;', 'do', 'what','it', 'does.', 'Keep', 'going.']

# Use reduce() with a lambda function to join the tokens
quote = reduce(lambda combined_string, word: combined_string + " " + word, tokens)
print(quote)

Don’t watch the clock; do what it does. Keep going.

THEME: Map, filter, and reduce together form a complete functional pipeline for transforming, selecting, and aggregating data.