## LAB ACTIVITY 12
## NAME : G S VITHUN; REG NO : 22MID0099; COURSE CODE: CSI3007; LAB : L7+L8;
## DATE : 09/09/2025

## 1. Handling CSV

In [17]:
import pandas as pd
import numpy as np
import io

# Create a CSV file 
csv_data = """Name,Age,City,Salary,Education
Alice,25,New York,70000,Bachelors
Bob,30,Los Angeles,85000,Masters
Charlie,35,Chicago,92000,PhD
David,28,Houston,75000,Bachelors
Eve,32,Phoenix,88000,Masters
"""

In [30]:
# String as a File 
df = pd.read_csv(io.StringIO(csv_data)) # Initialize a StringIO object with an existing string, and then read from it just like you would from a file. 
df.to_csv("employee_data.csv", index=False) #writes the contents of a DataFrame to a CSV file.

In [23]:
data = pd.read_csv("Housing.csv") # Reads the CSV file into a DataFrame
print(data.head()) # Displays the first 5 rows of the DataFrame

      price  area  bedrooms  bathrooms  stories mainroad guestroom basement  \
0  13300000  7420         4          2        3      yes        no       no
1  12250000  8960         4          4        4      yes        no       no
2  12250000  9960         3          2        2      yes        no      yes
3  12215000  7500         4          2        2      yes        no      yes
4  11410000  7420         4          1        2      yes       yes      yes

  hotwaterheating airconditioning  parking prefarea furnishingstatus
0              no             yes        2      yes        furnished
1              no             yes        3       no        furnished
2              no              no        2      yes   semi-furnished
3              no             yes        3      yes        furnished
4              no             yes        2       no        furnished

In [25]:
print(data.info()) # Provides a summary of the DataFrame, including data types and non-null values

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 545 entries, 0 to 544
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   price             545 non-null    int64
 1   area              545 non-null    int64
 2   bedrooms          545 non-null    int64
 3   bathrooms         545 non-null    int64
 4   stories           545 non-null    int64
 5   mainroad          545 non-null    object
 6   guestroom         545 non-null    object
 7   basement          545 non-null    object
 8   hotwaterheating   545 non-null    object
 9   airconditioning   545 non-null    object
 10  parking           545 non-null    int64
 11  prefarea          545 non-null    object
 12  furnishingstatus  545 non-null    object
dtypes: int64(6), object(7)
memory usage: 55.5+ KB
None

In [27]:
print(data.shape) # Displays Rows and columns

(545, 13)

## Read a CSV File

### 1. Extract the contents of a CSV File into a Pandas Dataframe

In [19]:
df = pd.read_csv("employee_data.csv") # reading data from a CSV file. It automatically parses the file, recognizes the headers, and loads the content into a Pandas DataFrame
print(df)

      Name  Age         City  Salary  Education
0    Alice   25     New York   70000  Bachelors
1      Bob   30  Los Angeles   85000    Masters
2  Charlie   35      Chicago   92000        PhD
3    David   28      Houston   75000  Bachelors
4      Eve   32      Phoenix   88000    Masters

### 2. Read a CSV Chunk-by-chunk

In [33]:
chunk_size = 100
count = 1
#sets chunksize to 100, so instead of loading the entire file at once, it reads and processes the data in smaller, manageable pieces 
for chunk in pd.read_csv("Housing.csv", chunksize=chunk_size): #chunks of 100 rows each
    print(f"DataFrame Chunk {count}:") 
    print(chunk)
    count += 1

DataFrame Chunk 1:
       price  area  bedrooms  bathrooms  stories mainroad guestroom basement  \
0   13300000  7420         4          2        3      yes        no       no
1   12250000  8960         4          4        4      yes        no       no
2   12250000  9960         3          2        2      yes        no      yes
3   12215000  7500         4          2        2      yes        no      yes
4   11410000  7420         4          1        2      yes       yes      yes
..       ...   ...       ...        ...      ...      ...       ...      ...
95   6300000  4100         3          2        3      yes        no       no
96   6300000  9000         3          1        1      yes        no      yes
97   6300000  6400         3          1        1      yes       yes      yes
98   6293000  6600         3          2        3      yes        no       no
99   6265000  6000         4          1        3      yes       yes      yes

   hotwaterheating airconditioning  parking prefarea furnishingstatus
0               no             yes        2      yes        furnished
1               no             yes        3       no        furnished
2               no              no        2      yes   semi-furnished
3               no             yes        3      yes        furnished
4               no             yes        2       no        furnished
..             ...             ...      ...      ...              ...
95              no             yes        2       no   semi-furnished
96              no              no        1      yes        furnished
97              no             yes        1      yes   semi-furnished
98              no             yes        0      yes      unfurnished
99              no              no        0      yes      unfurnished

[100 rows x 13 columns]
DataFrame Chunk 2:
       price  area  bedrooms  bathrooms  stories mainroad guestroom basement  \
100  6230000  6600         3          2        1      yes        no      yes
101  6230000  5500         3          1        3      yes        no       no
102  6195000  5500         3          2        4      yes       yes       no
103  6195000  6350         3          2        3      yes       yes       no
104  6195000  5500         3          2        1      yes       yes      yes
..       ...   ...       ...        ...      ...      ...       ...      ...
195  4970000  4410         4          3        2      yes        no      yes
196  4970000  7686         3          1        1      yes       yes      yes
197  4956000  2800         3          2        2       no        no      yes
198  4935000  5948         3          1        2      yes        no       no
199  4907000  4200         3          1        2      yes        no       no

    hotwaterheating airconditioning  parking prefarea furnishingstatus
100              no             yes        0      yes      unfurnished
101              no              no        1      yes      unfurnished
102              no             yes        1       no   semi-furnished
103              no             yes        0       no        furnished
104              no              no        2      yes        furnished
..              ...             ...      ...      ...              ...
195              no              no        2       no   semi-furnished
196             yes              no        0       no   semi-furnished
197              no             yes        1       no   semi-furnished
198              no             yes        0       no   semi-furnished
199              no              no        1       no        furnished

[100 rows x 13 columns]
DataFrame Chunk 3:
       price  area  bedrooms  bathrooms  stories mainroad guestroom basement  \
200  4900000  4520         3          1        2      yes        no      yes
201  4900000  4095         3          1        2       no       yes      yes
202  4900000  4120         2          1        1      yes        no      yes
203  4900000  5400         4          1        2      yes        no       no
204  4900000  4770         3          1        1      yes       yes      yes
..       ...   ...       ...        ...      ...      ...       ...      ...
295  4200000  2325         3          1        2       no        no       no
296  4200000  4600         3          2        2      yes        no       no
297  4200000  3640         3          2        2      yes        no      yes
298  4200000  5800         3          1        1      yes        no       no
299  4200000  7000         3          1        1      yes        no       no

    hotwaterheating airconditioning  parking prefarea furnishingstatus
200              no             yes        0       no   semi-furnished
201              no             yes        0       no   semi-furnished
202              no              no        1       no   semi-furnished
203              no              no        0       no   semi-furnished
204              no              no        0       no   semi-furnished
..              ...             ...      ...      ...              ...
295              no              no        0       no   semi-furnished
296              no             yes        1       no   semi-furnished
297              no              no        0       no      unfurnished
298             yes              no        2       no   semi-furnished
299              no              no        3       no        furnished

[100 rows x 13 columns]
DataFrame Chunk 4:
       price  area  bedrooms  bathrooms  stories mainroad guestroom basement  \
300  4200000  4079         3          1        3      yes        no       no
301  4200000  3520         3          1        2      yes        no       no
302  4200000  2145         3          1        3      yes        no       no
303  4200000  4500         3          1        1      yes        no      yes
304  4193000  8250         3          1        1      yes        no      yes
..       ...   ...       ...        ...      ...      ...       ...      ...
395  3500000  3600         6          1        2      yes        no       no
396  3500000  3640         2          1        1      yes        no       no
397  3500000  5900         2          1        1      yes        no       no
398  3500000  3120         3          1        2      yes        no       no
399  3500000  7350         2          1        1      yes        no       no

    hotwaterheating airconditioning  parking prefarea furnishingstatus
300              no              no        0       no   semi-furnished
301              no              no        0      yes   semi-furnished
302              no              no        1      yes      unfurnished
303              no              no        0       no        furnished
304              no              no        3       no   semi-furnished
..              ...             ...      ...      ...              ...
395              no              no        1       no      unfurnished
396              no              no        1       no   semi-furnished
397              no              no        1       no        furnished
398              no              no        1       no      unfurnished
399              no              no        1       no   semi-furnished

[100 rows x 13 columns]
DataFrame Chunk 5:
       price   area  bedrooms  bathrooms  stories mainroad guestroom basement  \
400  3500000   3512         2          1        1      yes        no       no
401  3500000   9500         3          1        2      yes        no       no
402  3500000   5880         2          1        1      yes        no       no
403  3500000  12944         3          1        1      yes        no       no
404  3493000   4900         3          1        2       no        no       no
..       ...    ...       ...        ...      ...      ...       ...      ...
495  2730000   4000         3          1        2      yes        no       no
496  2695000   4000         2          1        1      yes        no       no
497  2660000   3934         2          1        1      yes        no       no
498  2660000   2000         2          1        2      yes        no       no
499  2660000   3630         3          3        2       no       yes       no

    hotwaterheating airconditioning  parking prefarea furnishingstatus
400              no              no        1      yes      unfurnished
401              no              no        3      yes      unfurnished
402              no              no        0       no      unfurnished
403              no              no        0       no      unfurnished
404              no              no        0       no      unfurnished
..              ...             ...      ...      ...              ...
495              no              no        1       no      unfurnished
496              no              no        0       no      unfurnished
497              no              no        0       no      unfurnished
498              no              no        0       no   semi-furnished
499              no              no        0       no      unfurnished

[100 rows x 13 columns]
DataFrame Chunk 6:
       price  area  bedrooms  bathrooms  stories mainroad guestroom basement  \
500  2660000  2800         3          1        1      yes        no       no
501  2660000  2430         3          1        1       no        no       no
502  2660000  3480         2          1        1      yes        no       no
503  2660000  4000         3          1        1      yes        no       no
504  2653000  3185         2          1        1      yes        no       no
505  2653000  4000         3          1        2      yes        no       no
506  2604000  2910         2          1        1       no        no       no
507  2590000  3600         2          1        1      yes        no       no
508  2590000  4400         2          1        1      yes        no       no
509  2590000  3600         2          2        2      yes        no      yes
510  2520000  2880         3          1        1       no        no       no
511  2520000  3180         3          1        1       no        no       no
512  2520000  3000         2          1        2      yes        no       no
513  2485000  4400         3          1        2      yes        no       no
514  2485000  3000         3          1        2       no        no       no
515  2450000  3210         3          1        2      yes        no      yes
516  2450000  3240         2          1        1       no       yes       no
517  2450000  3000         2          1        1      yes        no       no
518  2450000  3500         2          1        1      yes       yes       no
519  2450000  4840         2          1        2      yes        no       no
520  2450000  7700         2          1        1      yes        no       no
521  2408000  3635         2          1        1       no        no       no
522  2380000  2475         3          1        2      yes        no       no
523  2380000  2787         4          2        2      yes        no       no
524  2380000  3264         2          1        1      yes        no       no
525  2345000  3640         2          1        1      yes        no       no
526  2310000  3180         2          1        1      yes        no       no
527  2275000  1836         2          1        1       no        no      yes
528  2275000  3970         1          1        1       no        no       no
529  2275000  3970         3          1        2      yes        no      yes
530  2240000  1950         3          1        1       no        no       no
531  2233000  5300         3          1        1       no        no       no
532  2135000  3000         2          1        1       no        no       no
533  2100000  2400         3          1        2      yes        no       no
534  2100000  3000         4          1        2      yes        no       no
535  2100000  3360         2          1        1      yes        no       no
536  1960000  3420         5          1        2       no        no       no
537  1890000  1700         3          1        2      yes        no       no
538  1890000  3649         2          1        1      yes        no       no
539  1855000  2990         2          1        1       no        no       no
540  1820000  3000         2          1        1      yes        no      yes
541  1767150  2400         3          1        1       no        no       no
542  1750000  3620         2          1        1      yes        no       no
543  1750000  2910         3          1        1       no        no       no
544  1750000  3850         3          1        2      yes        no       no
545  9240000  7800         3          2        2      yes        no       no

    hotwaterheating airconditioning  parking prefarea furnishingstatus
500              no              no        0       no      unfurnished
501              no              no        0       no      unfurnished
502              no              no        1       no   semi-furnished
503              no              no        0       no   semi-furnished
504              no             yes        0       no      unfurnished
505              no             yes        0       no      unfurnished
506              no              no        0       no      unfurnished
507              no              no        0       no      unfurnished
508              no              no        0       no      unfurnished
509              no              no        1       no        furnished
510              no              no        0       no      unfurnished
511              no              no        0       no      unfurnished
512              no              no        0       no        furnished
513              no              no        0       no      unfurnished
514              no              no        0       no   semi-furnished
515              no              no        0       no      unfurnished
516              no              no        1       no      unfurnished
517              no              no        1       no      unfurnished
518              no              no        0       no      unfurnished
519              no              no        0       no      unfurnished
520              no              no        0       no      unfurnished
521              no              no        0       no      unfurnished
522              no              no        0       no        furnished
523              no              no        0       no        furnished
524              no              no        0       no      unfurnished
525              no              no        0       no      unfurnished
526              no              no        0       no      unfurnished
527              no              no        0       no   semi-furnished
528              no              no        0       no      unfurnished
529              no              no        0       no      unfurnished
530             yes              no        0       no      unfurnished
531              no             yes        0      yes      unfurnished
532              no              no        0       no      unfurnished
533              no              no        0       no      unfurnished
534              no              no        0       no      unfurnished
535              no              no        1       no      unfurnished
536              no              no        0       no      unfurnished
537              no              no        0       no      unfurnished
538              no              no        0       no      unfurnished
539              no              no        1       no      unfurnished
540              no              no        2       no      unfurnished
541              no              no        0       no   semi-furnished
542              no              no        0       no      unfurnished
543              no              no        0       no        furnished
544              no              no        0       no      unfurnished
545              no              no        1      yes   semi-furnished

### 3. Append to a CSV

In [29]:
new_data = pd.DataFrame([[9240000,7800,3,2,2,'yes','no','no','no','no',1,'yes','semi-furnished']], columns=['price','area','bedrooms','bathrooms','stories','mainroad','guestroom','basement','hotwaterheating','airconditioning','parking','prefarea','furnishingstatus'])
#Appending new data to an existing CSV file is done by using the mode='a' and header=False parameters in the to_csv() function. 
new_data.to_csv('Housing.csv', mode='a', header=False, index=False) 
df_appended = pd.read_csv("Housing.csv")
print(df_appended)

        price  area  bedrooms  bathrooms  stories mainroad guestroom basement  \
0    13300000  7420         4          2        3      yes        no       no
1    12250000  8960         4          4        4      yes        no       no
2    12250000  9960         3          2        2      yes        no      yes
3    12215000  7500         4          2        2      yes        no      yes
4    11410000  7420         4          1        2      yes       yes      yes
..        ...   ...       ...        ...      ...      ...       ...      ...
541   1767150  2400         3          1        1       no        no       no
542   1750000  3620         2          1        1      yes        no       no
543   1750000  2910         3          1        1       no        no       no
544   1750000  3850         3          1        2      yes        no       no
545   9240000  7800         3          2        2      yes        no       no

    hotwaterheating airconditioning  parking prefarea furnishingstatus
0                no             yes        2      yes        furnished
1                no             yes        3       no        furnished
2                no              no        2      yes   semi-furnished
3                no             yes        3      yes        furnished
4                no             yes        2       no        furnished
..              ...             ...      ...      ...              ...
541              no              no        0       no   semi-furnished
542              no              no        0       no      unfurnished
543              no              no        0       no        furnished
544              no              no        0       no      unfurnished
545              no              no        1      yes   semi-furnished

[546 rows x 13 columns]

## Writing to a CSV File

### 4. Writing numeric data to a new CSV file

In [31]:
numeric_df = pd.DataFrame(np.random.randint(10, 100, size=(50, 3)), columns=['A', 'B', 'C'])
numeric_df.to_csv('numeric_data.csv', index=False) # writes the contents of a DataFrame to a CSV file.
numeric_df_read = pd.read_csv("numeric_data.csv") 
print(numeric_df_read)

     A   B   C
0   92  87  38
1   76  58  19
2   69  30  47
3   33  48  67
4   90  56  96
5   41  32  36
6   23  81  76
7   56  67  67
8   54  41  16
9   33  74  72
10  66  49  17
11  81  98  29
12  68  16  91
13  97  16  77
14  80  46  31
15  72  50  69
16  80  71  50
17  88  70  94
18  68  75  48
19  32  58  99
20  34  87  83
21  44  92  32
22  97  21  60
23  43  24  53
24  56  82  91
25  29  93  89
26  74  47  46
27  29  95  44
28  88  49  34
29  57  92  12
30  91  86  36
31  45  78  81
32  27  42  63
33  94  76  61
34  84  14  79
35  86  28  19
36  26  56  13
37  60  76  13
38  16  47  65
39  89  23  72
40  74  10  25
41  66  51  52
42  43  79  74
43  52  60  71
44  42  70  20
45  94  93  90
46  18  76  87
47  78  34  69
48  28  26  32
49  49  19  79

### 5. Write text data into a CSV File

In [32]:
text_data = {
    'Product': ['Laptop', 'Mouse', 'Keyboard', 'Monitor'],
    'Description': ['High-performance laptop', 'Wireless ergonomic mouse', 'Mechanical keyboard', '4K ultra-wide monitor']
}
text_df = pd.DataFrame(text_data)
text_df.to_csv('text_data.csv', index=False) # writes the contents of a DataFrame to a CSV file. 
text_df_read = pd.read_csv("text_data.csv")
print(text_df_read)

    Product               Description
0    Laptop   High-performance laptop
1     Mouse  Wireless ergonomic mouse
2  Keyboard       Mechanical keyboard
3   Monitor     4K ultra-wide monitor